# Data Science tools and Ecosystem

In this notebook, I'm completing my exercise on Data Science Tools and Ecosystem are summarized

**Objectives:**

* List of data science tools
* List of data science Libraries
* List of data science Languages
* Simple Arithemetics
* Simple table in Markdown


Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot2
4. GGally
5. Matplotlib


|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R studio|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Okpe Christopher